<section>
  <div class="about-us">
    <h3>About<span>Us</span></h3>
    <img />
    <p>
      Our photography school is designed to teach you everything you need to
      know about this magical art. Regardless of your experience or skill level,
      we offer a wide range of courses to suit your needs and interests. Our
      teaching team consists of experienced photographers who have many years of
      experience in this field. They strive not only to share their knowledge,
      but also to inspire you to develop and express your unique creativity.
    </p>
    <p>
      Our courses cover a wide range of topics, from the basics of photography
      and equipment use to professional image processing and creating impressive
      compositions. You will have the opportunity to learn the technical aspects
      of photography, discover your own style and develop your own visual
      language.
    </p>
  </div>
  <div class="our-courses">
    <h3>Our<span>Courses</span></h3>
    <p>
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <div class="courses">
    <div class="courses-box">
      <div class="number">
        <p>01</p>
        <svg></svg>
      </div>
      <h3>Basics of photography</h3>
      <p>
        During this course, you will be able to familiarize yourself with
        different types of cameras, learn the basics of composition.
      </p>
    </div>
    <div class="courses-box">
      <div class="number">
        <p>02</p>
        <svg></svg>
      </div>
      <h3>Landscape photography</h3>
      <p>
        In this course, you'll learn how to choose the right angles, frame
        landscapes, and create depth and perspective in your images.
      </p>
    </div>
    <div class="courses-box">
      <div class="number">
        <p>03</p>
        <svg></svg>
      </div>
      <h3>Portrait photography</h3>
      <p>
        During this course, you will learn to choose the right lighting,
        reproduce the mood and expressions on the faces of the models.
      </p>
    </div>
  </div>
</section>
