<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <!-- Logo -->
        <div class="footer-brand">
          <a href="/" class="footer-logo">
            <!-- <img src="logo.png" alt="Şirket Logosu"> -->
            <span class="footer-logo-text">LOGO</span>
          </a>
        </div>

        <!-- İrtibat bilgisi -->
        <div class="footer-contacts">
          <p>
            <a href="">+38 066 543 8912</a>
          </p>
          <p>
            <a href="">1678 S. Pionner Road Salt Lake City UT 84104</a>
          </p>
        </div>

        <!-- Site Bağlantı Listesi -->
        <nav class="footer-nav">
          <ul class="footer-links">
            <li><a href="">ABOUT US</a></li>
            <li><a href="">OUR COURSES</a></li>
            <li><a href="">OUR MENTORS</a></li>
            <li><a href="">REVIEWS</a></li>
            <li><a href="">CONTACTS</a></li>
          </ul>
        </nav>

        <!-- Sosyal Medya -->
        <div class="footer-social">
          <ul class="footer-social-list">
            <li>
              <a href="https://www.instagram.com/goit.turkiye/" target="_blank"
                >INSTAGRAM</a
              >
            </li>
            <li>
              <a href="https://m.youtube.com/@GoITTurkey" target="_blank"
                >YOUTUBE</a
              >
            </li>
            <li>
              <a
                href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                target="_blank"
                >FACEBOOK</a
              >
            </li>
          </ul>
        </div>

        <!-- Form -->
        <div class="footer-form">
          <form>
            <label for="footer-email"></label>
            <input
              id="footer-email"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
            <button type="submit">Go</button>
          </form>
        </div>

        <div class="footer-left">
          <p class="footer-content">Privacy Policy</p>
          <p class="footer-content">Public Offering Agreement</p>
        </div>

        <div class="footer-right">
          <p class="footer-content">2024 Focus Frame</p>
          <p class="footer-content">© All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
