<div class="container">
  <section class="section our_mentors">
    <h2 class="our_mentors_title section_title">Our Mentors</h2>
    <ul class="our_mentors_cards">
      <li class="our_mentor_card">
        <img src="/src/img/Emilia-Smith.jpg" alt="Emilia-Smith" />
        <h4>Emilia Smith</h4>
        <p>1.5 years of experience</p>
      </li>
      <li class="our_mentor_card">
        <img src="/src/img/Alex-Lebedev.jpg" alt="Alex-Lebedev" />
        <h4>Alex Lebedev</h4>
        <p>3.5 years of experience</p>
      </li>
      <li class="our_mentor_card">
        <img src="/src/img/Mia-Dubrovska.jpg" alt="Mia-Dubrovska" />
        <h4>Mia Dubrovska</h4>
        <p>2.0 years of experience</p>
      </li>
      <li class="our_mentor_card">
        <img src="/src/img/Eliot-Kovalev.jpg" alt="Eliot-Kovalev" />
        <h4>Eliot Kovalev</h4>
        <p>4.0 years of experience</p>
      </li>
    </ul>
  </section>
</div>
