<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reviews.css" />
    <title>Advertisement & Reviews</title>
  </head>
  <body>
    <div class="container">
      <!-- Advertisement Bölümü -->
      <section class="section advertisement-section">
        <div class="advertisement-line">
          <svg>
            <use href="../img/svg/symbol-defs.svg#line-icon"></use>
          </svg>
        </div>
        <div class="advertisement">
          <h2>Master <span>your photography</span> skills with us!</h2>
          <h2>Master <span>your photography</span> skills with us!</h2>
        </div>
        <div class="advertisement-line">
          <svg>
            <use href="../img/svg/symbol-defs.svg#line-icon"></use>
          </svg>
        </div>
      </section>
      <section class="section reviews-section">
        <!-- Reviews Başlık -->
        <h2 class="review-title">Reviews</h2>

        <!-- Reviews Card Yapısı -->
        <ul class="review-list">
          <li class="review-list-item">
            <div class="review-item-div">
              <img
                srcset="
                  ../img/user_abraham.png    1x,
                  ../img/user_abraham@2x.png 2x
                "
                src="../img/user_abraham.png"
                alt="Abraham-Baker"
              />
              <div>
                <h3>Abraham Baker</h3>
                <p>Student</p>
              </div>
            </div>
            <!-- Yıldız iconları yer alacak -->
            <div class="review-star">
              <svg style="fill: rgba(255, 255, 255, 0.2); stroke: none">
                <use href="../img/svg/symbol-defs.svg#star-icon"></use>
              </svg>
            </div>
            <p class="review-desc">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </li>
          <li class="review-list-item">
            <div class="review-item-div">
              <img
                srcset="../img/user_amanda.png 1x, ../img/user_amanda@2x.png 2x"
                src="../img/user_amanda.png"
                alt="Amanda-Lowery"
              />
              <div>
                <h3>Amanda Lowery</h3>
                <p>Student</p>
              </div>
            </div>
            <!-- Yıldız iconları yer alacak -->
            <div class="review-star">
              <svg>
                <use href="../img/svg/symbol-defs.svg#star-icon"></use>
              </svg>
            </div>
            <p class="review-desc">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </li>
        </ul>
      </section>
      <section class="section deneme">Bu bir deneme section'ı</section>
    </div>
  </body>
</html>
