<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="container">
        <section class="section reviews">
          <h2 class="review_title">Reviews</h2>
          <ul class="review_list">
            <li class="review_list_item">
              <img src="/src/img/Abraham-Baker.jpg" alt="Abraham-Baker" />
              <h3>Abraham Baker</h3>
              <p>Student</p>
              <div class="review_stars">
                <svg>
                  <use></use>
                </svg>
                <svg>
                  <use></use>
                </svg>
                <svg>
                  <use></use>
                </svg>
                <svg>
                  <use></use>
                </svg>
                <svg>
                  <use></use>
                </svg>
              </div>
              <p class="review_description">
                I am very pleased that I decided to enroll in photography
                school. The teachers turned out to be very talented and
                experienced professionals who share their knowledge and are
                dedicated to their work. I was able to expand my skills and
                discover my own style.
              </p>
            </li>
          </ul>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
