<div class="container">
  <section class="section sign_up">
    <h2 class="sign_up_title">Sign Up</h2>
    <h6>
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </h6>
    <form class="sign_up_form">
      <label>
        <input
          type="text"
          pattern="[A-Za-z]"
          id="sign_up_name"
          name="name"
          required
        />
      </label>
      <label>
        <input
          type="email"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          id="sign_up_mail"
          name="email"
          required
        />
      </label>
      <label>
        <textarea
          id="sign_up_message"
          name="message"
          placeholder="Message"
          rows="5"
          required
        ></textarea>
      </label>
    </form>
    <button class="sign_up_button" type="submit">Send</button>
    <p class="sign_up_form_permission">
      By clicking on “Send” button, you agree to our Privacy Policy, and allow
      Promodo to use this information for marketing purposes.
    </p>
  </section>
</div>
