/*Bölümü Hizalamak İçin*/
.section.about-us {
  margin: 80px 20px 60px 20px;
}

/*Başlık*/
.section-title-colored {
  color: #bea69e;
}

/*Görsel*/
.about-us-content img {
  width: 100%;
  max-height: 335px;
  margin: 40px 0;
  object-fit: cover;
  display: block;
  border-radius: 1000px;
}

/*Metin*/
.about-us-content {
  font-size: 14px;
  gap: 20px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Tablet */
@media (min-width: 768px) {
  /*Tablet Metin*/
  .about-us-text {
    display: grid;
    margin-right: 104px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  /*Desktop Görsel*/
  .about-us-content img {
    max-height: 220px;
    min-width: 540px;
  }

  /*Desktop Metin*/
  .about-us-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
