/*Bölümü Hizalamak İçin*/
.section.about-us {
  margin: 80px 20px 60px 20px;
}

/*Başlık*/
.section-title-colored {
  color: #bea69e;
}

/*Görsel*/
.about-us-content img {
  width: 100%;
  max-height: 335px;
  margin: 40px 0;
  object-fit: cover;
  display: block;
  border-radius: 1000px;
}

/*Metin*/
.about-us-content {
  font-size: 14px;
  gap: 20px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Tablet */
@media (min-width: 768px) {
  /*Tablet Görsel*/
  .frame {
    width: 100%;
    position: relative;
    height: auto;
  }

  .about-us-content img {
    display: block;
    position: static;
    top: -78px;
  }

  /*Tablet Metin*/
  .about-us-content {
  }

  .about-us-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Desktop */
@media (min-width: 1280px) {
  /*Desktop Görsel*/
  .frame {
  }
  .about-us-content img {
    width: 100%;
    max-width: none;
    height: 220px;
    object-fit: cover;
    display: block;
    position: static;
  }

  /*Desktop Metin*/
  .about-us-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about-us-text {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
