.navbar-section {
    display: flex;
    justify-content: space-between; /* logo sola, linkler ortada, buton sağa */
    align-items: center;
    padding: 10px 20px;
    background-color: #111; /* navbar arka plan rengi */
    border: 1px solid #333;
    border-radius: 12px;
    width: 1280px;
}

#nav-logo {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    /* Focus. kısmı beyaz */
}

.navbar-links {
    display: flex;
    gap: 30px;
    /* linkler arasına boşluk */
    list-style: none;
}

.navbar-link a {
    color: #fff;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.sign-up-button {
    margin-left: 40px;
    /* linkler ile buton arasına boşluk */
}

.btn {
    width: 150px;
    height: 45px;
    color: black;
    background: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #1D1D1D;
    color: #BEA69E;
}

.navbar-link a:hover{
    color: #BEA69E;
}
