body {
    background-color: black;
}

.container {
    width: 360px;
    height: max-content;
}

.header-section {
    width: max-content;
    height: min-content;
}

.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    border: 1px solid var(--brown-color);
    border-radius: 12px;
    width: 350px;
    height: 50px;
    padding: 10px 20px;
    position: relative;
    gap: 20px;
}

.sidebar-links {
    display: none;
    flex-direction: column;
    background-color: var(--brown-color);
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
    height: 100vh;
    z-index: 999;
    list-style: none;
    background-image: url(../img/photolens.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 1;
}

.sidebar-link {
    margin: 20px 0;
}

.sidebar-link a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#nav-logo {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

.camera-icon-svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.camera-icon-svg ~ path:hover{
   color: var(--brown-color);
   cursor: pointer;
}

.sidebar-menu-lines {
    width: min-content;
    height: max-content;
    cursor: pointer;
    margin-left: 30px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: 100px;
}

.modal-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100vh;
    z-index: 998;
}

#mobile-menu-toggle:checked~.modal-menu {
    display: block;
}

#mobile-menu-toggle:checked~.modal-menu .sidebar-links {
    display: flex;
}

.close-menu svg path {
    width: 30px;
    height: 30px;
    fill: white;
    z-index: 999;
}

.sidebar-link a:focus {
    font-weight: bold;
}

.close-menu {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.sidebar-links>label {
    width: min-content;
    height: max-content;
    margin-left: 130px;
    margin-bottom: 80px;
}

.sidebar-menu-lines>label {
    width: 30px;
    height: 30px;
}

.menu-label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.menu-label>svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sign-up-button {
    display: none;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .navbar-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #111;
        border: 1px solid var(--brown-color);
        border-radius: 12px;
        width: 704px;
        height: 60px;
        padding: 10px 20px;
        position: relative; 
    }

    .camera-icon-svg {
        display: none;
    }

    .sign-up-button {
        display: block;
    }

    .modal-menu{
        position: absolute;
        right: -300px;
        top: 0;
    }
    .btn {
        width: 238px;
        height: 60px;
        color: black;
        background: #fff;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
    }

    .btn:hover {
        background: #1D1D1D;
        color: #BEA69E;
    }

    .navbar-link a:hover{
        color: var(--brown-color);
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 100px;
    }

    .menu-label {
        margin-left: 270px;
    }

    .sidebar-links {
        width: 480px;
        height: 1024px;
        position: absolute;
        right: 0;
    }

    .close-menu {
        margin-left: 250px;
    }

    .sidebar-links a {
        margin-left: 30px;
    }

    .navbar-links {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .menu-label {
        display: none;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        margin-left: 80px;
    }

    .navbar-link a {
        text-decoration: none;
        color: var(--white-color);
    }

    .navbar-section {
        width: 1024px;
        height: 60px;
    }

    .icon {
        display: none;
    }

    .navbar-link {
        width: 130px;
    }

    .sign-up-button{
    margin-left: -35px;
    
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }

    .navbar-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        background-color: #111;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 1280px;
    }

    .navbar-links {
        margin-left: 290px;
    }
}