:root {
  --primary-font: "DM Sans", sans-serif;
  --black-color: #121212;
  --smoke-color: #1d1d1d;
  --gradient-color: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --brown-color: #bea69e;
  --white-color: #fff;
  --card-p-color: rgba(255, 255, 255, 0.5);
  --arrow-color: rgba(255, 255, 255, 0.4);
  --camera-color: rgba(190, 166, 158, 0.4);
  --star-color: rgba(255, 255, 255, 0.2);
  --star-stroke-color: #414141;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--black-color);
  color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

ul,
li {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.section-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.04em;
  color: var(--white);
  text-transform: capitalize;
}

.section-title-colored {
  color: var(--brown-color);
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("../img/graphic-header-desktop-big.png");
  background-repeat: no-repeat;
}

.section {
  padding: 40px 0;
  max-width: 335px;
  margin: 0 auto;
}

/* NAVBAR SECTION START */

.header-section {
  padding: 20px 0;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
  border: 1px solid var(--star-color);
  border-radius: 12px;
  background-color: var(--black-color);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo > svg {
  width: 127px;
  height: 20px;
}

.nav-right-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar-camera-icon {
  position: relative;
}

.navbar-camera-icon svg {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.navbar-camera-icon svg {
  color: rgba(190, 166, 158, 0.4);
}

.navbar-camera-icon:hover svg:nth-child(1) {
  color: var(--brown-color);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.4);
  z-index: 1;
}

#mobile-menu-toggle:checked ~ .modal-overlay {
  display: block;
}

.modal-menu {
  display: none;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 3;
  background-color: var(--brown-color);
}

.modal-menu > img {
  display: block;
}

#mobile-menu-toggle:checked ~ .modal-menu {
  display: block;
}

#mobile-menu-toggle:checked .container {
  background-color: #060707;
  backdrop-filter: var(--black-color);
}

#mobile-menu-toggle:checked ~ .modal-menu .sidebar-links {
  display: flex;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  list-style: none;
  margin-bottom: 133px;
}

.close-menu {
  width: 30px;
  height: 30px;
  stroke: var(--black-color);
}

.sidebar-link a {
  text-decoration: none;
  font-size: 16px;
  color: var(--black-color);
}

.sidebar-link a:focus {
  font-weight: 700;
}

.close-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.sidebar-links > label {
  width: min-content;
  height: max-content;
  margin-left: 130px;
  margin-bottom: 80px;
}

.sidebar-menu-lines > label {
  width: 30px;
  height: 30px;
}

.menu-label {
  overflow: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.menu-label > svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: var(--white-color);
}

.navbar-sign-up-button {
  display: none;
}

.navbar-links {
  display: none;
}

/* NAVBAR SECTION END */

/* HERO SECTION START */

/* Hero Kartı */
.hero-section {
  padding: 20px 0;
}

.hero-background {
  display: flex;
  flex-direction: column;
  gap: 31px;
  border-radius: 30px;
  background: var(--smoke-color);
}

/* İçerik sütunu: soldaki metin alanı */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  max-height: 777px;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 295px;
}

.hero-header h1 {
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.04em;
}

.highlight {
  color: var(--brown-color);
  font-style: italic;
}

/* Açıklama paragrafı */

.hero-desc {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

/* İstatistik Şeridi Avatarlar + Reviews */

.hero-stats {
  max-width: 253px;
}

/* Öğrenciler grubu */
.hero-student-review {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.hero-students {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero-icons {
  display: flex;
  margin-left: 15px;
}

.student-img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--smoke-color);
  margin-left: -20px;
}

.hero-students a {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 89px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--white-color);
  text-decoration: none;
}

.hero-students a svg {
  width: 18px;
  height: 10px;
  flex-shrink: 0;
}

.hero-text {
  width: 100px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 4px;
}

/* Reviews grubu */
.hero-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 12px;
}

.hero-reviews-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-reviews-desc > p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--card-p-color);
}

.hero-reviews-desc > p:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: var(--white-color);
}

.hero-reviews svg {
  display: block;
  width: 44px;
  height: 44px;
  fill: var(--star-color);
  stroke: var(--star-stroke-color);
}

/* Hero Görseli */
.hero-image {
  pointer-events: none;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: -49px;
}

.hero-image img {
  display: block;
  width: 259px;
}

/* HERO SECTION END */

/* ADVERTISEMENT SECTION START */

.advertisement-section {
  overflow: hidden;
}

.advertisement-section h2 {
  font-weight: 400;
  color: var(--brown-color);
}

.advertisement-line {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.advertisement-line > svg {
  display: block;
  width: 100%;
  height: 2px;
}

.advertisement-line > svg path {
  stroke-opacity: 0.2;
  stroke-width: 2;
}

.advertisement {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: advertisementTitle 5s ease-in-out infinite;
  white-space: nowrap;
}

@keyframes advertisementTitle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.advertisement > h2 {
  flex-shrink: 0;
  padding: 20px 0;
  margin: 0 auto;
}

.advertisement > h2 > span {
  color: var(--white-color);
}

/* ADVERTISEMENT SECTION END */

/* ABOUT US SECTION START */

/*Görsel*/
.about-us-content img {
  width: 100%;
  margin: 40px 0;
  object-fit: cover;
  display: block;
  border-radius: 1000px;
}

/*Metin ve Görsel İçeriği*/
.about-us-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 20px;
}

/*Metin*/
.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ABOUT US SECTION END */

/* OUR COURSES SECTION START */

.our-courses {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.our-courses-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-courses-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.our-courses-card {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  min-height: 395px;
  background: var(--gradient-color);
  border: 1px solid var(--star-color);
  border-radius: 12px;
}

.our-courses-card-header {
  display: flex;
  justify-content: space-between;
  color: var(--arrow-color);
  padding: 28px;
}

.our-courses-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 282px;
}

.our-courses-card-header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--arrow-color);
}

.our-courses-card-content h2 {
  padding: 0 28px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--white-color);
}

.our-courses-card-content p {
  width: 100%;
  padding: 0 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--card-p-color);
}

.our-courses-card svg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: currentColor;
}

.our-courses-card svg:hover {
  color: var(--white-color);
  stroke: var(--brown-color);
}

/* OUR COURSES SECTION END */

/* OUR MENTORS SECTION START */

/* --- Our Mentors Section --- */
.our-mentors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Kart listesi - mobile (default) */
.our-mentors-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

/* Her kart - mobil */
.our-mentor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 335px;
}

/* Görsel */
.our-mentor-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Card İçeriği */
.our-mentor-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

/* İsim */
.our-mentor-card-content h4 {
  font-size: 18px;
}

/* Deneyim */
.our-mentor-card-content p {
  color: var(--card-p-color);
}

/* OUR MENTORS SECTION END */

/* SIGN UP SECTION START */

.sign-up-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.sign-up-content {
  min-height: 523px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.sign-up-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-right: 40px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#sign-up-name,
#sign-up-mail,
#sign-up-message {
  padding: 14px 18px;
  min-width: 335px;
  resize: none;
  border-radius: 12px;
  border: 1px solid var(--star-color);
  background-color: var(--black-color);
}

#sign-up-name:focus,
#sign-up-mail:focus,
#sign-up-message:focus {
  border-color: var(--card-p-color);
  color: var(--white-color);
}

.sign-up-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-up-button {
  padding: 14px 146.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
  color: var(--black-color);
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: var(--smoke-color);
  color: var(--brown-color);
}
.sign-up-form-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--card-p-color);
}
.sign-up-img {
  display: none;
  width: 540px;
  height: 540px;
}

.sing-up-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.28571;
  color: var(--card-p-color);
}

/* SIGN UP SECTION END */

/* REVIEWS SECTION START */

.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.review-title {
  color: var(--white-color);
}

.review-list {
  position: relative;
  overflow: hidden;
  min-height: 244px;
  border: 1px solid var(--star-color);
  border-radius: 12px;
}

.review-list:hover .review-list-item {
  animation-play-state: paused;
}

.review-list-item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  animation: slide 6s infinite;
}

.review-list-item:nth-child(1) {
  animation-delay: 0s;
}

.review-list-item:nth-child(2) {
  animation-delay: 3s;
}

/* Animasyon: Sağdan sola kay */
@keyframes slide {
  0% {
    left: 100%; /* Sağda başla */
  }
  10%,
  50% {
    left: 0; /* Ortada, 3s görünür */
  }
  60%,
  100% {
    left: -100%; /* Soldan çık */
  }
}

.review-item-div {
  display: flex;
  padding: 20px 20px 4px 20px;
  gap: 10px;
}

.review-item-div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.review-star {
  display: flex;
  padding: 0 86px;
}

.review-star > svg {
  width: 96px;
  height: 16px;
}

.review-desc {
  padding: 20px;
}
/* REVIEWS SECTION END */

/* FOOTER SECTION START */
.footer-container {
  background-image: url("../img/graphic-footer-mobile.png");
  background-repeat: repeat;
  background-size: cover;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 535px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-content .footer-first {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-content .footer-second {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-top {
  display: flex;
}

.footer-brand {
  display: block;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contacts a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
}

.footer-contacts a:first-child {
  text-transform: uppercase;
}

.footer-navbar {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.footer-social ul,
.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-social a,
.footer-list a {
  font-size: 14px;
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 75px;
}

#footer-email {
  max-width: 267px;
  padding: 20px 119px 20px 18px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  color: var(--black-color);
}

.footer-form-button {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  background-color: var(--smoke-color);
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-line {
  height: 2px;
}

/* FOOTER SECTION END */

@media (min-resolution: 2px) {
  .modal-menu img {
    background-image: url("../img/photolens@2x.jpg");
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding: 50px 32px;
    max-width: 704px;
  }

  .section-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: capitalize;
  }

  /* NAVBAR SECTION START */

  .header-section {
    padding: 20px 0 40px 0;
  }

  .navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    gap: 14px;
    border: none;
  }

  .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 504px;
    padding: 15px 20px;
    position: relative;
    border: 1px solid var(--star-color);
    border-radius: 12px;
  }

  .navbar-camera-icon {
    display: none;
  }

  .navbar-sign-up-button {
    display: block;
    min-width: fit-content;
  }

  .modal-menu {
    min-width: 480px;
    max-height: 1024px;
    right: -232px;
  }

  .modal-menu img {
    display: block;
    width: 100%;
  }

  .navbar-sign-up-button .btn {
    padding: 16px 58px;
    color: var(--black-color);
    background: var(--white-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    transition: 0.3s;
  }

  .navbar-sign-up-button .btn:hover {
    background: var(--smoke-color);
    color: var(--brown-color);
  }

  .navbar-link a:hover {
    color: var(--brown-color);
  }

  .sidebar-links {
    display: flex;
    gap: 28px;
  }

  .sidebar-links label svg {
    position: absolute;
    top: 20px;
    right: 32px;
    width: 40px;
    height: 40px;
  }

  .sidebar-links a {
    position: relative;
    top: 132px;
    left: 64px;
  }

  .navbar-links {
    display: none;
  }

  /* NAVBAR SECTION END */

  /* HERO SECTION START */

  .hero-section {
    padding: 0;
  }

  .hero-content {
    display: flex;
    max-width: 557px;
  }

  .hero-header {
    max-width: 400px;
  }

  .hero-stats {
    max-width: 390px;
    align-items: center;
  }

  .hero-students {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .hero-students a {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .hero-student-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-reviews-desc {
    display: flex;
    gap: 8px;
  }

  /* HERO SECTION END */

  /* ADVERTISEMENT SECTION START */
  .advertisement > h2 {
    padding: 24px 0;
  }
  /* ADVERTISEMENT SECTION END */

  /* ABOUT US SECTION START */

  .about-us-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .about-us-content {
    gap: 50px;
  }

  /*Tablet Metin*/
  .about-us-text {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 40px;
    width: 100%;
    justify-items: start;
  }

  .frame {
    display: block;
  }

  .frame > img {
    display: block;
    margin: 0;
    max-height: 340px;
  }

  /* ABOUT US SECTION END */
  /* OUR COURSES SECTION START */

  .our-courses {
    max-width: 704px;
    padding: 50px 0;
  }

  .our-courses-header {
    display: flex;
    flex-direction: row;
    gap: 58px;
  }
  .our-courses-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .our-courses-header p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: var(--white-color);
  }

  .our-courses-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .our-courses-card {
    min-height: 452px;
  }

  .our-courses-card-header {
    padding: 32px;
  }

  .our-courses-card-content {
    padding: 4px;
    min-height: 324px;
  }

  .our-courses-card-desc {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  /* OUR COURSES SECTION END */

  /* OUR MENTORS SECTION START */

  .our-mentors {
    padding: 50px 0;
  }

  .our-mentors-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px; /* yan yana kartlar arası sabit boşluk */
    row-gap: 93px; /* alt alta kartlar arası sabit boşluk */
    align-items: end;
    max-width: 488px;
    margin: 0 auto;
  }

  .our-mentor-card {
    flex: 0 0 calc((100% - 100px) / 2); /* 2 sütun, 100px boşluk sabit */
    max-width: calc((100% - 100px) / 2);
  }

  /* OUR MENTORS SECTION END */

  /* SIGN UP SECTION START */

  .sign-up-section {
    padding: 50px 32px;
    justify-content: start;
    margin: 0;
  }

  .sign-up-content {
    align-items: start;
    max-width: 480px;
  }

  .sign-up-form {
    align-items: start;
  }

  #sign-up-name,
  #sign-up-mail,
  #sign-up-message {
    min-width: 480px;
  }

  /* SIGN UP SECTION END */

  /* REVIEWS SECTION START */
  .reviews-section {
    min-width: 764px;
    gap: 50px;
  }

  .review-list {
    display: flex;
    justify-content: center;
    margin: 0 32px;
    min-height: 196px;
  }

  .review-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 640px;
  }

  .review-item-div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--card-p-color);
  }

  .review-item-div div {
    justify-content: center;
  }

  .review-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--white);
  }

  /* REVIEWS SECTION END */

  /* FOOTER SECTION START */

  .footer-container {
    background-image: url("../img/graphic-footer-tablet.png");
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    max-height: 350px;
  }

  .footer-container .footer-line {
    min-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }

  .footer-section {
    padding: 50px 0;
  }

  .footer-content > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .footer-content {
    row-gap: 70px;
  }

  .footer-content .footer-second {
    gap: 25px;
  }

  .footer-contacts {
    gap: 10px;
    min-width: 152px;
  }

  .footer-contacts a {
    font-size: 14px;
    max-width: 225px;
  }

  .all {
    display: flex;
    align-items: start;
    gap: 59px;
  }

  .footer-kapsayici {
    display: flex;
  }

  .footer-kapsayici2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .footer-form {
    margin: 0;
  }

  .footer-navbar {
    column-gap: 25px;
  }

  .footer-social-lists {
    flex-direction: column;
    gap: 14px;
  }

  .footer-links {
    min-width: 105px;
    flex-direction: column;
    gap: 14px;
  }

  .footer-link {
    font-weight: 400;
    font-size: 14px;
  }

  .footer-form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
  }

  #footer-email {
    width: 200px;
    height: 60px;
    padding: 0 12px;
  }

  .footer-form-button {
    width: 60px;
    height: 60px;
  }

  .footer-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* FOOTER SECTION END */
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .section {
    max-width: 1080px;
    padding: 75px 0;
  }

  .section-title {
    font-size: 48px;
  }

  /* NAVBAR SECTION START */

  .header-section {
    padding: 20px 0;
  }

  .menu-label {
    display: none;
  }

  .nav-logo {
    padding: 7px 0 7px 30px;
  }

  .nav-left {
    max-width: 822px;
    border: 1px solid var(--star-color);
    border-radius: 12px;
    gap: 20px;
    flex-grow: 1;
  }

  .navbar-links {
    display: flex;
    gap: 28px;
    font-weight: 400;
    font-size: 14px;
    flex-shrink: 1;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    max-width: fit-content;
    white-space: nowrap;
  }

  .navbar-link a {
    display: block;
    text-decoration: none;
    color: var(--white-color);
  }

  .navbar-section {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
  }

  .icon {
    display: none;
  }

  .navbar-link {
    width: 130px;
  }

  .navbar-sign-up-button {
    display: flex;
    align-items: center;
    width: auto; /* Min-width yerine esnek genişlik */
    max-width: 300px;
  }

  .navbar-sign-up-button .btn {
    padding: 16px 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    width: 100%;
  }

  /* NAVBAR SECTION END */

  /* HERO SECTION START */

  .hero-background {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    gap: 20px;
  }

  .hero-content {
    display: flex;
    gap: 136px;
    padding: 50px 0 50px 50px;
    min-width: 613px;
  }

  .hero-header {
    width: 100%;
  }

  .hero-header h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.06;
  }

  .hero-image {
    margin: 0;
    padding: 80px 50px 0 0;
  }

  .hero-image img {
    display: block;
    width: 397px;
    height: 520px;
  }

  /* HERO SECTION END */

  /* ADVERTISEMENT SECTION START */

  .advertisement h2 {
    font-weight: 400;
    font-size: 59px;
    line-height: 108%;
    letter-spacing: -0.02em;
  }

  /* ADVERTISEMENT SECTION END */

  /* ABOUT US SECTION START */

  /*Desktop Görsel*/
  .about-us-content img {
    display: block;
    width: 488px;
    height: 260px;
  }

  /*Desktop Metin ve Görsel İçeriği*/
  .about-us-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 40px;
  }

  .about-us-content .about-us-text {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0;
    gap: 20px;
  }

  .about-us-content .about-us-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    max-width: 268px;
    max-height: 260px;
  }
  /* ABOUT US SECTION END */
  /* OUR COURSES SECTION START */

  .our-courses {
    gap: 50px;
  }

  .our-courses-header {
    max-width: 1055px;
    gap: 410px;
  }

  .our-courses-header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  .our-courses-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .our-courses-card {
    min-width: 347px;
  }

  .our-courses-card-content {
    padding: 0 32px;
  }

  .our-courses-card-desc {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
  }

  /* OUR COURSES SECTION END */

  /* OUR MENTORS SECTION START */
  .our-mentors-cards {
    max-width: 1034px;
  }

  .our-mentor-card {
    flex: 0 0 calc(25% - 79px);
  }

  .our-mentor-card:nth-child(3) {
    align-items: start;
    min-width: 194px;
  }

  .our-mentor-card-content {
    gap: 4px;
  }

  .our-mentor-card-content h4 {
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
    text-align: center;
  }

  .our-mentor-card-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
  }
  /* OUR MENTORS SECTION END */

  /* SIGN UP SECTION START */

  .sign-up-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .sign-up-content {
    max-height: 578px;
    gap: 40px;
  }

  .sign-up-title {
    padding: 0;
  }

  .sign-up-form {
    max-width: 480px;
  }

  #sign-up-name,
  #sign-up-mail,
  #sign-up-message {
    padding: 20px 18px;
    min-width: 480px;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    border-radius: 12px;
    border: 1px solid var(--star-color);
    background-color: var(--black-color);
  }

  #sign-up-name:focus,
  #sign-up-mail:focus,
  #sign-up-message:focus {
    border-color: var(--card-p-color);
    color: var(--white-color);
  }

  .sign-up-button {
    padding: 16px 216px;
  }

  .sign-up-desc {
    gap: 20px;
  }

  .sign-up-desc p {
    font-size: 14px;
  }

  .sign-up-img {
    display: flex;
    align-items: end;
    justify-content: end;
    max-height: 540px;
    gap: 20px;
  }

  .small-photo-div {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: 76px 19px 62px 19px;
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background-image: url("../img/small_photo@2x.png");
    background: var(--brown-color);
    background-size: cover;
  }

  .big-photo-div {
    width: 340px;
    height: 540px;
    padding: 156px 50px 88px 50px;
    background-image: url("../img/big_photo@2x.png");
    border-radius: 1000px;
    background: var(--smoke-color);
    background-size: cover;
  }

  /* SIGN UP SECTION END */

  /* REVIEWS SECTION START */

  .review-list {
    margin: 0;
    border: none;
    gap: 20px;
  }

  .review-list-item {
    max-width: 530px;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 12px;
    border: 1px solid var(--star-color);
    animation: none;
  }

  .review-item-div {
    padding: 0;
  }

  .review-item-div > div h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }

  .review-star {
    padding: 0;
  }

  .review-star > svg {
    display: block;
    width: 115px;
    height: 19px;
  }

  .review-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 20px 0;
  }

  /* REVIEWS SECTION END */

  /* FOOTER SECTION START */

  .footer-container {
    background-image: url("../img/graphic-footer-desktop-small.png");
    background-repeat: repeat;
    background-size: cover;
  }

  .footer-content {
    gap: 50px;
  }

  .footer-contacts a {
    min-width: 288px;
  }

  .all {
    min-width: 651px;
    gap: 135px;
  }

  .footer-section .footer-content .footer-first {
    gap: 139px;
  }

  .footer-content div .footer-navbar {
    gap: 50px;
  }

  .footer-navbar {
    display: flex;
    justify-content: end;
    min-width: 224px;
  }

  .footer-navbar .footer-list {
    font-size: 14px;
    min-width: 97px;
  }

  .footer-navbar .footer-social-lists,
  .footer-navbar .footer-links {
    gap: 20px;
  }

  .footer-content div:last-child {
    justify-content: space-between;
  }

  #footer-email {
    min-width: 216px;
    padding: 20px 78px 20px 18px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    color: var(--black-color);
  }

  /* FOOTER SECTION END */
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .section {
    max-width: 1240px;
    padding: 150px 100px;
  }

  /* NAVBAR SECTION START */

  .header-section {
    padding: 20px 0 0 0;
  }

  .navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-left {
    max-width: 982px;
    padding: 22px 50px;
    border: 1px solid var(--star-color);
    border-radius: 12px;
    gap: 159px;
    flex-grow: 1;
  }

  .nav-right-icons {
    display: none;
  }

  .navbar-links {
    gap: 40px;
  }

  .navbar-sign-up-button .btn {
    padding: 16px 84px;
    min-width: max-content;
  }

  /* NAVBAR SECTION START */

  /* HERO SECTION START */

  .hero-section {
    padding: 80px 0;
  }

  .hero-background {
    justify-content: space-between;
  }

  .hero-content {
    gap: 136px;
  }

  .hero-header {
    min-width: fit-content;
  }

  .hero-image {
    margin-right: 50px;
  }

  /* HERO SECTION END */

  /* ADVERTISEMENT SECTION START */

  .advertisement-section {
    padding: 70px 0;
  }

  /* ADVERTISEMENT SECTION END */

  /* ABOUT US SECTION START */

  .about-us-section {
    padding: 80px 0;
  }

  /*Desktop Görsel*/
  .about-us-content img {
    width: 560px;
    height: 240px;
  }

  /*Desktop Metin ve Görsel İçeriği*/
  .about-us-content {
    align-items: center;
    gap: 50px;
  }

  .about-us-content .about-us-text {
    padding: 10px 0;
    gap: 40px;
  }
  /* ABOUT US SECTION END */

  /* OUR COURSES SECTION START */

  .our-courses {
    padding: 70px 0;
  }

  .our-courses-header {
    max-width: 1215px;
  }

  .our-courses-card {
    max-width: 400px;
  }

  .our-courses-card-content {
    padding: 0;
  }

  /* OUR COURSES SECTION END */

  /* OUR MENTORS SECTION START */

  .our-mentors {
    padding: 80px 0;
  }

  .our-mentors-cards {
    display: flex;
    max-width: 1034px;
  }

  .our-mentor-card {
    flex: 0 0 calc(25% - 80px);
  }

  /* OUR MENTORS SECTION END */

  /* SIGN UP SECTION START */

  .sign-up-section {
    padding: 70px 0;
  }

  /* SIGN UP SECTION END */

  /* REVIEWS SECTION START */

  .reviews-section {
    padding: 80px 0;
  }

  .review-list {
    gap: 20px;
  }

  .review-list-item {
    align-items: start;
    max-width: 610px;
  }

  .review-desc {
    padding-bottom: 0;
  }

  /* REVIEWS SECTION END */

  /* FOOTER SECTION START */

  .footer-container {
    background-image: url("../img/graphic-footer-desktop-big.png");
    background-repeat: repeat;
    background-size: auto;
  }

  .footer-section {
    padding: 70px 0;
  }

  .footer-content {
    gap: 50px;
  }

  .footer-links {
    min-width: max-content;
  }

  .all {
    min-width: 757px;
    gap: 191px;
  }

  .footer-section .footer-content .footer-first {
    gap: 195px;
  }

  .footer-content div .footer-navbar {
    gap: 100px;
  }

  /* FOOTER SECTION END */
}
